#wrapper-index{
  #primary.col-md-8{
    padding-left: 15px;
    padding-right: 15px;
  }
  .post-date{
    position: relative;
    font-size: 1em;
  }
}
.blog-page {
  a:hover{
    text-decoration: none;
  }
  article{
    background: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    h2{
      font-size: 1.7em;
      font-weight: bold;
    }
    img{
      width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0 ;
    }
    .entry-header{
      padding-bottom: 10px;
    }
    .post-date{
      color: $lightblue;
      padding-top: 5px;
      font-size: 1em;
      time{
        color: $lightblue;
      }
    }
  }
  .blog-article-content{
    padding: 15px;
    p{
      padding-top: 10px;
    }
  }
  .read-more{
    color:$blue;
    padding: 25px 0 10px ;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    float: right;

  }
  .entry-title a:hover{
    color: $blue;
  }
}



@media screen and (min-width: 400px){
  .blog-page{
    article{
      .post-date{
        font-size: 1em;
      }
    }
    .blog-article-content{
      padding: 25px;
    }
    .read-more{
      font-size: .9em;
    }
  }

}

@media screen and (min-width: 768px){
  .blog-page{
    .read-more{
      font-weight: normal;

    }
  }
}

@media screen and (max-width: 992px){
  #secondary.col-md-3{
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .blog-page article .post-date {
    font-size: .8em;
  }
}

@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px){
  .blog-page {
  .blog-article-content{
    h2{
      font-size: 1.7em;
    }
  }
  }
;
}