.events-img-details{
  margin-top:auto;
}

.events-wrapper{
  .type-events{
    a{
      text-decoration: none;
    }
    img{
      height: auto;
    }
  }
}

.events-page {
  .nav-breadcrumbs {
    margin-bottom: 10px;
  }
  .type-events {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 10px;
    h1, .headline {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: .5em;
      padding-top: 20px;
      font-weight: bold;
    }
    h1 {
      font-size: 1.6em;
    }
    p {
      text-align: center;
      padding: 0;
    }
    img {
      width: 100%;
    }
  }
}//events-page
.link-headline:hover{
  color: $blue;
}
.headline:hover {
  color: $blue;
  text-decoration: none;
}
.btn-container {
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
.btn-custom {
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 1em 2.2em;
}
.btn-blue-submit {
  @extend .btn-custom;
  background: $blue;
  box-shadow: -2px 2px 2px rgba(0,0,0,.3);
}
.btn-green-details {
  @extend .btn-custom;
  background: $darkgreen;
}

.default-evt-info {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
  li {
    flex: 1 0 auto;
    padding: 10px 5px;
  }
  li a {
    display: flex;
    font-size: 1em;
    color: $blue;
    i {
      margin-right: 5px;
    }
  }
}
.events-info {
  @extend .default-evt-info;
}

.events-wrapper {
  .type-events {
    display: flex;
    flex-flow: column wrap;
  }
}
.events-info li{
  color: $blue;
  i{
    margin-right: 5px;
  }
}


@media screen and (min-width: 350px) {
  .events-info {
    font-size: 1em;
  }
}

@media screen and (min-width: 400px) {
.btn-blue-submit{
  line-height: 80%;
}
}

@media screen and (min-width: 550px) {
  .events-info {
    justify-content: center;
    li {
      flex:none;
      padding: 1em;
    }
    li:first-of-type {
      padding-left: 0;
    }
  }
}

@media screen and (min-width: 640px) {
  .events-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
      flex: 0 0 calc(50% - .5em);
    }
    .btn-blue-submit{
      font-size: .9em;
    }
  }
  .events-info {
    font-size: .8em;
    li {
      padding: .5em;
    }
  }

}


@media screen and (min-width: 992px) {
  .events-info {
li{

  font-size: 1.2em;

}  }
}

@media screen and (min-width: 1200px) {
  .events-wrapper {
    .type-events {
      margin-right: 1.2em;
    }
    article {
      flex: 0 0 calc(33% - 1em);
    }
    article:last-of-type {
      margin-right: auto;
    }
    .events-info {
      justify-content: space-between;
      li {
        display: flex;
        line-height: 1.2;
      }
    }
  }
}

