#main-menu li a{
  font-weight: bold;
}

.navbar-toggle, .icon-bar{
  border: 1px solid beige;
}

@media screen and (min-width: 30em) {
  .main-menu-logo{
    width: 5em;
  }
}

@media screen and (min-width: 62em) {
  .main-menu-logo{
    width: auto;
  }
  #main-menu{
    margin-top: 20px;
  }
}