.gallery{
  .flow-gallery{
    background: #fff;
    border-radius: 5px;
    min-width: 100%;
    .mdi-social-share, .mdi-action-pageview{
      color: $blue;
    }
    .flow-menu{
      box-shadow: none;
      .mdi-navigation-arrow-back{
        color: $blue;

      }
      i{
        color: $darkgreen;
      }

      .back:hover{
        background-color: transparent;
      }
      .album-name span{
        color: $darkgreen;
      }
      .home span{
      color: $darkgreen;}
    }
    .albums{
      padding-top: 40px;
    }
    @media screen and (min-width: 768px){
      box-shadow:  0 0 5px 1px hsla(180,1%,69%,.9);
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 992px){
        .gallery{
          .flow-gallery {
            .albums {
              ul {
              display: flex;
              width: 90%;
              justify-content: space-between;
            }
            li{
              margin-right: 0;
          }
          }

        }
        }
}


@media screen and (max-width: 390px) {
    .gallery {
      .flow-gallery {
        .item.card[style] {
            width: 100% !important;
        }
        .card-image{
          width: 100% !important;
        }
        .item img{
          max-width: 100% !important;
        }
      }
    }
}

@media screen and (max-width: 430px){
  .gallery{
    .flow-gallery {
      .albums {
        li {
            margin: 0;
            margin-bottom: 2em;
        }
      }
      .main-grid{
        width: 100% !important;
      }
    }
  }
}

.flow-gallery .item.filtered{
  border-radius: 5px;
}

@media screen and (min-width: 1200px){
  .flow-gallery{
    padding: 2em;
    .item.filtered {
     width: 30% !important;
   }
   .item img{
     width: 100% !important;
     height: auto !important;
   }
  }
}


.flow-gallery .albums.tiled figure{
  border-radius: 5px;
}