.input-group {
  .show-text{
    opacity: 1;
    transition: opacity .1s .4s ease;

  }
}

  .placeholder-for-searcher {
    opacity: 0;
    position: absolute;
    transition: opacity .1s ease;
    padding-top: 10px;
    @media screen and (min-width: 769px) {
              top: 50px;
          left: -275px;
    }
  }


  .placeholder-for-footer{
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    top: 17px;
   @media screen and (min-width: 700px) {
          font-size: 0.8em;
          width: 64%;
          top: 22px;
        }
    @media screen and (min-width: 992px){
      width: 70%;
    }
  }

.pagination-nav{
  text-align: center;
}
.page-numbers{
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background: #1976d3;
  color: #fff;
  &:focus{
    color: #fff;
  }
  &:hover{
    color: #fff;
  }
  &.current{
  background: none;
  color: $darkgreen;
  }
  &.next{
    width: 4em;
  }
  &.prev{
    width: 6em;

  }
}



.icon {
  display: inline-block;
  background: rgb(59,89,151);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
.fa-facebook{
  color: #fff;
}
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  opacity: .9;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0) , #000);
}


[class*=" mashicon-"] .text, [class^="mashicon-"] .text{
    text-indent: 0;
  display: inline-block;
}


.mashsb-box .mashsb-buttons a{
  padding: 0;
  float: none;
}

.mashicon-facebook{
  background: none;
.icon{
  line-height: 1.4em;
}
  .text{
    font-size: 1em;
  }
}

[class^="mashicon-"] .text{
  color: $darkgreen;
  margin-left: 5px;
}

[class^="mashicon-"] .icon::before{
  float: none;
  margin-right: auto;
  font-size: .9em;
}

.post-tags{
  padding: 10px 0;
  a{
    border-radius: 15px;
    font-size: .8em;
    padding: 0 .7em;
    margin: .2em;
    border: 1px solid #d7d7d7;
    display: inline-block;
  }
  small{
    display: none;
  }
i{
  color: #545454;
}
}

.social-media{
  padding-top: 2em;
}

.no-img-blog{
  .social-media-p{
    padding-left: .5em;
  }
}

.social-media-p{
  padding-left: 2.3em;
}

.back-to-top{
  position: fixed;
  bottom: -3.5em;
  left:1em;
  transition: bottom ease-out 400ms;
  z-index: 100;
  .fa{
    color: $blue;
    font-size: 3.5em;
  }
}
.back-to-top.display{
  display: block;
}
.back-to-top.slide-in{
  bottom: 2em;

}

#load-more:focus{
    outline: none;
}

.single-stc{
  .entry-header{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    @media screen and (max-width: 768px){
          .entry-title{
margin-top: 20px;
          }
    }
  }
}

@media screen and (min-width: 400px) {
  .social-media{
    padding-bottom: 1em;
  }
  .social-media-p{
    padding-left:2em;
    padding-bottom: 1em;
  }
  .no-img-blog{
    .social-media-p{
      padding-bottom: 0;
    }
  }
}


@media screen and (max-width: 568px){
  .mashsb-buttons a{
    width: 100px;
  }
}

@media screen and (max-width: 569px){
  .mashsb-box .mashsb-buttons a{
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
    .post-tags{
      padding: 10px 20px;
    }

  .social-media{
    padding: 4em 0 1em 2em;
  }
  .social-media-p{
    padding-left: 4em;
  }
  .no-img-blog{
    .social-media-p{
      padding-left: 0;
    }
  }
}

@media screen and (min-width: 901px){


  .social-media{
    padding-left: 1.6em;
  }
}

@media screen and (min-width: 992px){
  .social-media{
    padding-left: 1.4em;
  }

}

@media screen and (min-width: 1200px){
  .post-tags{
    padding: 15px 20px;
    small{
      display: inline-block;
      margin-right: 5px;
      font-weight: 500;
      font-size: .9em;
    }
  }
  .social-media{
    padding-left: 4.4em;
  }
  .social-media-p{
    padding-left: 5em;
  }
}

@media  screen and (min-width: 1400px) {

  .back-to-top{
    left: 5em;
  }
}