.meta-c{
  display: inline-block;
  padding-top: 5px;
}
#resource-post{
#comments{
  padding: 0;
}
.wp-post-image{
  height: auto;
  width: 100%;
}
  .resources{
    background: #fff;
    border-radius: 5px;
  }
  article{
    .row{
      margin-right: 0;
    }
  }
  .entry-content{
    order: 1;
  }
}
.resources-headline:hover{
    color: $lightred;
}
.resource-content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .entry-header {
    position: absolute;
    bottom: 100.5%;
    .post-date{
      position: relative;
      padding: 0;
    }
  }
  .entry-title {
    font-size: 1.7em;
    color: #fff;
    font-weight: 500;
    text-shadow: 2px 2px rgba(0, 0, 0, .5);


  }
  .post-date {
    font-size: 1em;
    color: #fff;
    font-weight: 500;
  }

  .entry-main {
    p {
        padding-bottom: 25px;

    }
  }
  .entry-second {
    margin: 20px 0;
  }
}
.res-meta-list{

  p{
      display: inline-block;
      margin-left: 10px;
      padding-bottom: 10px;
    }
    i{
      font-size: 1.5em;
      color: $gray;
      height: 100%;
      vertical-align: middle;
    }
    li{
      font-weight: bold;
      padding: 10px 0;
    }
span{
  display: block;
  font-weight: normal;
  margin-left: 50px;
  font-size: .9em;
  line-height: 1.4;

}

  }

.res-image-thumbnail{
  position: relative;
}

.no-img-sg-resource{
  .resource-content{
    justify-content: flex-start;
    padding: 30px 10px;
    .entry-header{
      position: relative;
    }
    .entry-title{
      color: $darkgreen;
      text-shadow: none;
    }
    .post-date{
      color: $darkgreen;
    }
  }
}

.entry-content{
  li{
    line-height: 1.6;
  }
}

@media screen and (min-width: 375px) {

    .res-meta-list{
      display: flex;
      flex-wrap: wrap;
      li{
      flex: 1 0 calc(50% - .5em);
        font-size: .9em;
    }

    span{
      margin-left: 2.2em;
    }
  }
}


@media screen and (min-width: 450px) {
.res-meta-list{
  li{
    font-size: .8em;
  }

}
}



@media screen and (max-width: 500px){
    .resource-content .entry-title{
      font-size: 1.4em;
    }
}

@media  screen and (min-width: 550px) {
 .res-meta li{
   flex: 0 0 32%;
 }
}




@media screen and (max-width: 768px) {
  #resource-post {
  .container{
    padding: 0;

  }
    .no-img-sg-resource {
      border-radius: 0 0 5px 5px;
    }
  }

}

@media screen and (min-width: 768px){
  .resource-content{
    .entry-header{
      .post-date{
      }
    }
    .entry-tittle{
      font-size: .5em;
    }
  }
  #resource-post{
    .post-tags{
      padding: 0;
    }
    #comments{
      padding: 0 30px;
    }
  }

  .res-image-thumbnail{
    img{
      border-radius: 5px;
    }
  }

  #resource-post {
    border-radius: 5px;
    .container{
      border-radius: 5px;

  }

    .res-image-thumbnail{
      border-radius: 5px;
      }
   }
  .no-img-sg-resource{
    padding: 20px 40px;
  }
}



@media screen and (min-width: 992px) {
#resource-post{
  .res-meta{
    margin-top: 0;
    border-bottom: 0;
    li{
    flex: auto;
      padding-bottom: 2em;
      span{
        line-height: 2;
      }
      i{
        font-size: 1.7em;
      }
  }
  }

}
  .resource-content {
    .entry-header{
    }
    justify-content: flex-start;
margin-top: 50px;
  .entry-main{
    border-right: 1px solid rgb(200,200,200);
    padding-right: 40px;
    padding-left: 10px;

  }
    .entry-content p{
      padding-top: 0;
    }

  .entry-second{
    margin-top: 0;
    order: 2;
  }
.entry-header{
padding-left: 20px;
  bottom: 101%;
  .post-date{
    line-height: 1.5;
  }

}
}

}

@media screen and (min-width: 1200px){
  #resource-post{
    .post-tags{
      small{
        margin-left: 3px;
        font-size: .8em;
      }
    }
    #comments{
      padding: 0 80px 30px;
    }
  }
}
























.res-meta-6{
  display: flex;
  flex-wrap: wrap;
li{
  display: flex;
  flex: 0 0 100%;
  padding-bottom: 1.5em;
}
  i {
    font-size: 1.5em;
    margin-right: 10px;
    color: #1976d3;  }
  p{
    line-height: 1.3;
    padding: 0;
    font-size: 1em;
    padding-bottom: .5em;
    font-weight: 700;
  }
}

@media screen and (min-width: 400px){
  .res-meta-6{
    li{
      flex: 0 0 50%;
      p{
        font-size: .8em;
      }
    span{
      font-size: .9em;
    }
    }
  }
}
@media screen and (min-width: 600px){
  .res-meta-6{
    margin-top: 0;
    li{
      flex: 0 0 calc(33% - .5em);
      margin-left: .5em;
    }
  }
}

@media screen and (min-width: 992px) {
  .res-meta-6{
    li{
      flex: auto;
      padding-bottom: 2em;
    }
    i{
      font-size: 23px;
    }
    span{
      line-height: 2;
    }
  }
}

