
.resource-archive{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  background: #fff;
  .wp-post-image{
    border-radius: 5px;
    width: 100%;
  }


  .single-post-thumbnail{
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 2px;
      left: 0;
      right: 0;
      opacity: .9;
      background-image: linear-gradient(180deg, transparent, #000);
    }

  }

  .post-tags{
    padding: .5em 1.5em;

  }

  .read-more{
    display: block;
  padding-top: 1em;
    color: $blue;
    text-transform: uppercase;
    max-width: 6em;
  }
}

.resource-archive.post-article{
  .post-content{
    padding-bottom: 0;
  }
}

.resources-title{
  color: #fff;
  position: absolute;
  padding: 0 1.5em;
  bottom: 10%;
  text-shadow: 2px  2px rgba(0,0,0,.5);
  font-weight: bold;
  z-index: 1;
  font-size: 1.7em;
  @media screen and (max-width: 400px){
    font-size: 1.4em;
  }
}
.res-meta-list{
  i{
    color: $blue;
  }
}

.no-img-blog{
  border-radius: 5px;
  .resources-title{
    color: $darkgreen;

  }
}


@media screen and (min-width: 768px){
  .resources-title{
    padding: 0 2em;
  }
  .resource-archive{
    padding-bottom: 0;
    .post-tags{
      background: rgb(247,247,247);
      padding: 15px 1.5em;
      border-radius: 0px 0px 5px 5px;
      border-top: 1px solid rgb(215,215,215);
      small{
        color: $darkgreen;
        font-weight: 500;
        font-size: .9em;
      }
      .fa-tags{
        display: inline-block;
        margin-right: 2px;
        margin-top:2px;
        font-size: .8em;
        }
    }
  }
}














.res-meta{
  margin-top: 20px;
  li{
    display: flex;
    padding-bottom: 1.5em;

  p{
    line-height: 1.3;
    padding: 0;
    font-size: 1em;
    padding-bottom: .5em;
    font-weight: bold;
  }
  }
  i{
    font-size: 1.5em;
    margin-right: 10px;
    color: $blue;
  }
  span{
    font-size: 1.1em;
  }
}

@media screen and (max-width: 400px){
  .res-meta{
    span{
      margin-left: 1em;
    }
  }
}

@media screen and (min-width: 400px) {
  .res-meta {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
    li {
      font-size: .8em;
      flex: 33%;
      margin-left: .5em;

    }
  }
}

@media screen and (min-width: 550px) {
  .res-meta {
    li:nth-child(-n+3) {
      flex: 0 0 32%;
    }
    li:nth-child(4n) {
      flex: 1%;
    }
  }

}


@media screen and (min-width: 700px){
  .res-meta{
    li:nth-child(-n+3){
      flex: 0 0 24%;
    }
    li:nth-child(4n){
      flex: 0 0 23%;
    }
  }

}

@media screen and (min-width: 902px) {
  .resource-archive{
    .single-post-thumbnail{
      margin-right: 0;
      margin-left: 0;
    }
  }

}

@media screen and (min-width:992px){
  .res-meta li p, .res-meta-6 li p{
    font-size: 1.125rem;
  }
  .res-meta span, .res-meta-6 span{
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
.resource-archive{
  .post-content{
    padding: 0 40px;
  }
  .entry-content{
    p:first-of-type{
      padding-top: 0;
    }
  }
}
  .res-meta{
    border-bottom: 1px solid #cad5e0;
    padding-bottom: 2em;

    li{
      flex: 19%;
      padding-bottom: 0;
    }
  li:nth-child(-n+3){
    flex: 0 0 19%;
  }
    li:nth-child(4n){
      flex: 19%;
    }
  }
}