input:-webkit-autofill{
  max-width: 300px !important;
}
#archive-wrapper{
  .post-date{
    position: relative;
  }
}
#search-wrapper{
  #primary.col-md-8{
    padding-left: 15px;
    padding-right: 15px;
  }
  .post-date{
    position: relative;
  }
display: flex;
  #secondary{
    order: 1;
  }
}

#main-menu{
  .search-highlight{
    background-color: transparent;
    font-weight: 600;
  }
}
#secondary{
  .search-highlight{
    background-color: transparent;
    font-weight: 400;
  }
}

.search-result{
  a:hover{
    text-decoration: none;
  }
  .page-title{
    font-size: 1.5em;
    span{
      overflow-wrap: break-word;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
  }
  article{
    background: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
  }
  .wp-post-image{
    height: auto;
    border-radius: 5px 5px 0 0;
    }
  .entry-title a:hover{
      text-decoration: none;
    color: $blue;
  }
}
.search-article-content{
  padding: 10px 15px;
  p{
    padding-top: 10px;
  }
  .entry-title{
    font-size: 1.7em;
  }
  .entry-content{
    display: flex;
    flex-flow: column;
  }
  .read-more{
    color: $blue;
    display: block;
    margin-left: auto;
    padding: 20px 0;
    font-size: 1.125em;
  }

  .post-date{
    color: $lightblue;
    padding-bottom: .5em;
  }
}
.error404{
  #main-header{
    margin-bottom: 0;
  }


}
.error-404{
  text-align: center;
  .page-header{
    border-bottom: none;
    font-weight: bold;
  }
  .page-content{
    font-weight: bold;
  }
  a{
    color: $blue;
  }
}


@media screen and (min-width: 400px){
  .search-article-content{
    padding: 25px;
  }
}

@media screen and (min-width: 768px) {

    #search-wrapper{
      #secondary{
        margin-top: 110px;
      }
    }
  #archive-wrapper{
    #secondary{
      margin-top: 110px;
    }
  }
  .error-404{
    margin-top: 3em;
  }
.background-404{
        width: 400px;
  height: 400px;
  margin: 7em auto 4em auto;
  padding-top: 40px;
  background-image: url('../images/404-background.png');
  background-repeat: no-repeat;
}
  }

.search-term{
  background: $lightred;
  color: #fff;
}

.blog-widget{
  .search-term{
    background: none;
    color: $darkgreen;
  }
}