#archive-wrapper{
  .post-date{
    position: relative;
  }
}
#search-wrapper{
  #primary.col-md-8{
    padding-left: 15px;
    padding-right: 15px;
  }
  .post-date{
    position: relative;
  }
}
.search-result{
  a:hover{
    text-decoration: none;
  }
  .page-title{
    font-size: 1.5em;
  }
  article{
    background: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
  }
  .wp-post-image{
    height: auto;
    border-radius: 5px 5px 0 0;
    }
  p{
    line-height: 1.6;
    font-size: 1em;
  }
  .entry-title a:hover{
      text-decoration: none;
    color: $lightred;
  }
}
.search-article-content{
  padding: 10px 15px;
  .entry-title{
    font-size: 1.4em;
  }
  .entry-content{
    display: flex;
    flex-flow: column;
  }
  .read-more{
    color: $lightred;
    display: block;
    margin-left: auto;
    padding: 20px 0;
  }

  .post-date{
    color: $lightblue;
    padding-bottom: .5em;
  }
}

.error-404{
  display: none;
  .page-header{
    border-bottom: none;
  }
}


@media screen and (min-width: 768px) {

    #search-wrapper{
      #secondary{
        margin-top: 110px;
      }
    }
  #archive-wrapper{
    #secondary{
      margin-top: 110px;
    }
  }
  }

