.wrapper-for-post{
  .container{
    padding: 0;
    background: #fff;
  }
}
.post-article{
  .sg-post-image{
    position: relative;
  }
  .wp-post-image{
    height: auto;
  }
  .entry-header{
    position: absolute;
    bottom: 1em;
    color: #fff;
    padding-left: 1.5em;
  }
  .entry-title{
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    font-weight: 600;
    line-height: 1.2;
  }
  .post-date{
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    font-size: .85em;
    font-style: italic;
    padding: 0;
    line-height: 2;
    font-weight: 600;
    @media screen and (max-width: 400px){
      font-size: .9em;
    }
  }
  .post-tags{
    padding:0;
    margin-top: 15px;
  }
  .post-content{
    padding: 1.5em;
    padding-top: 2.5em;
  }
}




.no-img-blog {
  padding-top: 20px;
  .sg-post-image .entry-header{
    padding-left: 0;
    position: relative;
    padding-bottom: 1em;
    &.col-md-8{
      width: 100%;
    }
    .entry-title {
      color: $darkgreen;
      text-shadow: none;
    }
    .post-date{
      margin-top: 0;
      color: $darkgreen;
      text-shadow: none;
    }
    .entry-date{
      color: $lightblue;
    }


  }

}

@media screen and (max-width: 500px){
      .post-article .entry-title{
        font-size: 1.4em;
      }
}

@media screen and (max-width: 768px) {
    .wrapper-for-post{
      .row{
        margin-right: 0;
      }
      #primary.col-md-9{
        padding-right: 0;
      }
    }
}

@media screen and (min-width: 768px) {
  .wrapper-for-post{
    .container{
      padding-left: 15px;
      padding-right: 15px;
      background: none;
    }
    main {
      background: #fff;
      padding-bottom: 60px;
    }
      #comments{
        padding-left: 60px;
      }

    }
  .post-article{
    .wp-post-image{
      border-radius: 5px 5px 0 0;
    }
    .post-content{
        padding: 50px 60px 40px;

    }
    .post-tags{
        padding-left: 0;
    }
    .entry-header{
      padding-left: 60px;
    }
  }
}



#secondary aside:first-of-type{
  margin-top: 0
}


@media screen and(max-width: 992px){
  .wrapper-for-post{
    #secondary{
      display: none;
    }
  }
}
@media screen and (min-width: 992px) {
  #secondary{
    aside{
      padding: 20px;
      background: #fff;
      margin: 20px 0;
      border-radius: 5px;
      box-shadow:  0 0 5px 1px hsla(180,1%,69%,.9);
      h3{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.125em;
      }
      ul{
        li{
          text-indent: .5em;
          padding: .5em 0;
          font-size: 1em;
          &::before {
            content: "\2022";
            font-size: 1.5em;
            position: relative;
            top: .1em;
          }
          a{
            margin-left: 5px;
            font-size: .9em;
          }
        }
      }

    }
  }

  .blog-widget{
    .textwidget{
      font-weight: bold;
      text-transform: uppercase;
      a{
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #3b5997;
        text-align: center;
        margin-left: 5px;
        line-height: 2;
        i{
          font-size: 1.3em;
          line-height: 35px;
          color: #fff;
        }
      }
    }
  }

}

@media screen and (min-width: 1200px) {
    .post-article {
      .post-content {
        padding: 60px 80px 40px;

      }
      .entry-header {
        padding-left: 80px;
      }
      .post-tags {
        small {
          font-size: .8em;
        }
      }
    }
  .wrapper-for-post{
    #comments{
      padding-left: 80px;
    }
  }
}