// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
$brand-primary:         #0CB4CE; //#ff6d5a

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;
$lightgreen: rgb(148, 214,213);
$lightred: rgb(242,98,98);
$mustard: rgb(197,192,46);
$blue: rgb(25,118,211);
$darkgreen: rgb(12,63,56);
$offwhite: rgb(239,239,239);
$lightblue: #14B3FF;
$gray: rgb(155,155,155);
$darkred: rgba(242,98,98, .7);
$gainsboro: #cad5e0;
$meta-gray: #a8a8a8;

$font-main:  'Open Sans';
$font-heading: 'Fira Sans','Open Sans';
$font-color: $darkgreen;
$label-color: $mustard;
